.header__wrapper {
  background-color: $accent-color;
  width: 100%;
  p {
    color: white;
  }
}

.logo__img {
  width: 70px;
  margin-top: 12px;
  float: right;
}

.avatar__container {
  border-radius: 5px;
  overflow: hidden;
  width: 70px;
  background-color: #d9dada;
  margin-top: 12px;
}

.menu__link-wrapper {
  text-align: center;
  height: 100%;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  p {
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 10px;
  }
  .menu__icon {
    font-size: 35px;
    color: white;
  }
  &:hover {
    background-color: black;
  }
}

.menu__link-wrapper--active {
  background-color: black;
}

.header__column--logo {
  padding-right: 0;
}

.header__column--avatar {
  padding-left: 5px;
}

.header__column--name {
  padding-left: 0;
  p {
    margin-top: 7px;
	  font-size: 21px;
  }
}

.header__column--button {

}
