.login-background {
  background: url("../img/efi3_login.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: white;
}

.login-box {
  background-color: $accent-color;
  border-radius: 5px;
}

.header-section {
  h1 {

  }
  p {

  }
}

.login-section {
  position: relative;
}

.avatar {
  position: absolute;
}
